body 
{
background-color:white;
background-image: url("../imagens/enel.jpg"); 
background-repeat: no-repeat;
background-position: 1200px 5px;
background-size: 270px;
font-family: Arial, Helvetica, sans-serif;
text-align: justify;
text-align: center;


}

h1 
{
color:red;
text-align: center;
text-shadow: white 0.1em 0.1em 0.2em;
font-weight: bold;
}

h2
{
color:white;
text-align: center;
text-shadow: black 0.1em 0.1em 0.2em;
}

h3
{
color:white; 
text-align: center; 
text-shadow: black 0.1em 0.1em 0.2em;
}

hr 
{   
    height: 1px;   
    border: none;
}

